@use "base";
@use "components";
@use "layout";
@use "utilities";
@use "animation";

.page-nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-inline: auto;
	width: 75%;
	padding-bottom: 1rem;
}

.page-nav-container div {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	width: 25%;
}

.page-nav-container div:nth-child(3) {
	justify-content: flex-start;
}

.page-nav-container p {
	flex-grow: 1;
	text-align: center;
	font-size: 1.25rem;
}

.loading-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}

.loading-title h3 {
	text-align: center;
	color: var(--clr-white);
}