@use "base";
@use "components";
@use "layout";
@use "utilities";
@use "animation";

.page-nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-inline: auto;
	width: 75%;
	padding-bottom: 1rem;
}

.page-nav-container div {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	width: 25%;
}

.page-nav-container div:nth-child(3) {
	justify-content: flex-start;
}

.page-nav-container p {
	flex-grow: 1;
	text-align: center;
	font-size: 1.25rem;
}

.loading-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}

.loading-title h3 {
	text-align: center;

	color: var(--clr-white);
}

.landing-page {
	position: relative;
	min-height: 100vh;
  	display: flex;
	overflow: hidden;

	  & .get-started {
		display: none;
	}

	@media (max-width: 800px) {
		& .get-started {
			position: absolute;
			top: 1rem;
			right:1rem;
			display: block;
			z-index: 2;
			transition: transform 350ms ease-in-out;
			transform: translateY(0);
			&.open {
				transform: translateY(calc(100vh - 6rem));
			}
		}
		
	}
	

	& header.main {
		background-color: var(--clr-main-700);
		padding-block: 2rem;
		width: 100%;
	  }
	  & header.form-header {
		padding-block-start: 1rem;
		margin-block-end: 1rem;
		padding-inline-start: 1.5rem;
		align-self: flex-start;
		& h3 {
			font-size: 1.5rem;
		}
	  }

	 & h1 {
		font-size: 4rem;
		width: min(80%, 650px);
		margin-inline: auto;
		font-family:  'Aboreto', cursive;
		@media (max-width: 1150px) {
			font-size: 3rem;
		}
		@media (max-width: 950px) {
			font-size: 2.5rem;
		}
	  }
	  
	 & .panel-right {
		display: flex;
		flex-direction: column;
		flex: 1;
		background-color: var(--clr-main-900);
		@media (max-width: 800px) {
			position: absolute;
			inset: 0;
			width: 100%;
			transition: transform 350ms ease-in-out;
			transform: translateY(-100%);
			overflow: scroll;

			&.open {
				transform: translateY(0);
			}
		}
	  }
	  
	 & .panel-left {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		padding-block-end: 8rem;
		width: 55%;
		background-color: rgba(0, 0, 0, 0.85);

		@media (max-width: 800px) {
			width: 100%;
			transition: transform 350ms ease-in-out;
			transform: translateY(0);
			&.closed {
				transform: translateY(100%);
			}
		}

	  }
	  
	 & .form {
		position: relative;
		flex-shrink: 0;
		margin-block-start: 5rem;
		margin-inline: auto;
		background-color: var(--clr-main-700);
		border-radius: 10px;
		width: min(80%, 450px);
		overflow: hidden;
		@media (max-width: 450px) {
			margin-block-start: 3rem;
		}
	  }

	  & .container-form {
		position: absolute;
		inset: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: transform 350ms ease-in-out;
		transform: translateY(-150%);

		&.creat-account {
			position: absolute;
			inset: 0;
			transform: translateY(150%);
		}

		&.shown {
			position: relative;
			transform: translateY(0);
		}
		& button {
			margin-top: 1rem;
			margin-bottom: 2rem;
		}
	  }
	  
	 & .container-form > div {
		position: relative;
		padding: 1rem 3rem;
		display: flex;
		flex-direction: column;
		width: min(100%, 450px);
		& .error {
			position: absolute;
			bottom: 0;
			left: 3rem;
			color: red;
			font-size: 0.75rem;
		}
	  }
	  & .container-form > div:not(:nth-child(2)) {
		padding-block-start: 0;
	  }
	  & label {
		font-size: 1.1rem;
	  }
	  
	  & input {
		margin-block-start: 0.5rem;
		padding: 0.25rem;
		background-color: var(--clr-main-300);
		border: none;
		border-bottom: 2px solid var(--clr-accent-dark);
		border-radius: 3px;
		color: inherit;
		font-size: 0.9rem;
	  }
	  
	
	  
	  & .new-account {
		display: flex;
		width: min(80%, 450px);
		margin-inline: auto;
		
	  }
	  & .new-account > div:first-child {
		width: 100%;
	  }
	   & .new-account > div:last-child {
		overflow: hidden;
		position: relative;
		margin-top: 0.5rem;
		flex-shrink: 0;
		max-width: 75%;
		& p {
			position: absolute;
			transition: transform 250ms ease-in-out;
			transform: translateY(100%);
			text-align: right;
			&.shown {
				position: relative;
				transform: translateY(0);
			}
		}
	  }

	  & .new-account p {
		margin-top: 0.25rem;
		font-size: 0.85rem;
	  }
	  
	 & .panel-left div {
		background-color: var(--clr-main-700);
		padding: 1rem 3rem 2rem 3rem;
		width: min(75%, 550px);
		border-radius: 50px 50px 100px 100px;
		@media (max-width:400px) {
			width: min(90%, 550px);
		}
	  }
	  
	 & .panel-left p {
		padding-inline-start: 0.5rem;
	  }
	  
	  & h2 {
		font-size: 1.75rem;
		margin-bottom: 0.5rem;
	  }

	  & .panel-right footer {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		flex: 1;
		& p {
			padding-block-start: 3rem;
			margin-inline-end: 1rem;
			margin-block-end: 1rem;
			font-size: 0.85rem;
			text-align: right;
	  }
	  }

	//   & .panel-right > p:is(:last-child) {
	// 	position: absolute;
	// 	bottom: 1rem;
	// 	right: 1rem;
	// 	font-size: 0.85rem;
	// 	text-align: right;
	//   }
}

.settings-nav {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	right: 0;
	top: 0;
	bottom: 0; 
	background-color: bisque;
	width: min(65%, 200px);
	z-index: 100;

	& .top {
		margin-block-start: 7.75rem;
		& li:nth-child(2) .btn {
			border-top: none;
		}
		& li:nth-child(3) .btn {
			border-top: none;
		}
	}

	& ul:last-child {
		margin-block-end: 4rem;
	}
	// & li {
	// 	width: ;
	// }
}