$ff-main: Georgia, serif;
$ff-title: 'Aboreto', cursive;

$font-sizes: (
  900: 2.5rem,
  800: 2rem,
  700: 1.75rem,
  600: 1.5rem,
  500: 1.3125rem,
  550: 1.2rem,
  400: 1.125rem,
);

.fs-125-rem {
  font-size: 1.25rem;
}

.fs-11-rem {
  font-size: 1.1rem;
}

.fs-09-rem {
  font-size: 0.9rem;
}

$fw-400: 400;
$fw-700: 700;
  