:root {
	--clr-white: #fff;
	--clr-black: #000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
}

header {
	color: var(--clr-white);
	background-color: var(--clr-black);
	display: flex;
	align-items: center;
}

main {
	display: flex;
}

aside {
	position: sticky;
	top: 1.5rem;
	width: 150px;
	height: 65vh;
	margin: 0.75rem 0 0 0.75rem;
	background-color: aquamarine;
}

h1 {
	margin-left: 2rem;
	padding: 1.5rem 0.75rem;
	max-width: 9ch;
}

.book-container {
	flex: 1;
	display: grid;
	place-content: start;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	padding: 1.5rem 0.75rem;
}

.book-card {
	display: flex;
	padding: 0.5rem 0.75rem 0rem 1rem;
	margin: 0 1rem 2rem 1rem;
	background-color: var(--clr-black);
	color: var(--clr-white);
}

.book-img-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: calc(100px + 0.7rem);
	padding: 0.35rem;
	background-color: darkgray;
	transform: translateY(-1.5rem);
}

.book-img-container img {
	max-height: 150px;
	aspect-ratio: auto;
	margin-bottom: 0.5rem;
}

.book-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	padding: 0 0 0.5rem 0.5rem;
	text-align: center;
}

.book-right h4 {
	font-size: 1.125rem;
	padding-bottom: 0.5rem;
}

.book-right-bottom-container p {
	text-align: end;
	flex: 1;
}
.book-right-bottom-container button {
	flex: 0;
}

.book-right-bottom-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 0.5rem 0.25rem 0.75rem;
}

dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0.35rem;
	background-color: white;
	border: none;
	border-radius: 10px;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.75);
}

/* btn classes */
.read-option button,
.read-unread-btn {
	margin: auto 0;
	width: 100%;
	border: solid 1px var(--clr-black);
	border-left: none;
	border-right: none;
}

.read-unread-btn:hover {
	cursor: pointer;
}

.read-unread-btn:hover,
.read-unread-btn:active {
}

/* Nav Bar Styles */
.filter-container-fieldset {
	border: none;
}
.filter-container-legend {
	padding-left: 0.5rem;
}

.filter-option-fieldset {
	padding: 0.25rem 0 0.5rem 0;
	border: none;
}

.filter-option-btn {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	border: none;
	border-bottom: solid 1px var(--clr-black);
}

.filter-option-dropdown,
.read-status-dropdown {
	position: absolute;
	width: 100%;
	pointer-events: none;
}
.read-status-dropdown {
	top: calc(100% - 0.35rem);
}

.filter-option,
.read-option {
	list-style: none;
	pointer-events: all;
	width: 100%;
	margin: auto;
	background-color: cadetblue;
}
.filter-option:hover,
.read-option:hover {
	cursor: pointer;
	background-color: turquoise;
}
