.container {
    width: min(100% - 2rem, 60rem);
    margin-inline: auto;

    &-book {
      flex: 1;
      padding: 2rem 2rem 1.5rem 1rem;
      place-content: start;
      grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
      @media (max-width: 450px) {
        padding: 2rem 0rem 1.5rem 0rem;
        grid-template-columns: 1fr;
      }

      &-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-1.5rem);
        background-color: var(--clr-accent-dark);
        height: fit-content;
        border-radius: 5px;
        @media (max-width: 450px) {
          transform: translateY(-2.5rem);
          scale: (0.85);
        }
        & img {
          border-radius: 3px;
        }
      }

      &-right-bottom {
        display: flex;
	      align-items: center;
	      justify-content: space-between;
      }
      &-notes-review-btns {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
        padding-inline: 1rem;
        @media (max-width: 450px) {
          padding-inline: 0.5rem;
        }
        @media (max-width: 375px) {
          & button.book-card {
            padding: 0.25rem 0.5rem;
          }
          
        }
      }
      &-rating-genre-btns {
        margin-block-start: 1rem;
        padding-inline: 0.5rem;
        @media (max-width: 375px) {
          margin-block-start: 1rem;
          padding-inline: 0.25rem;
        }
      }
    }
    &-select-rating-top {
      position: relative;
    }
    &-select-rating-bottom {
      position: absolute;
      left: 0;
      right: 0;
      background-color: var(--clr-main-700);
      border-radius: 5px;
    }

  &-found-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 4rem;
    @media (max-width: 650px) {
      padding-inline: 1rem;
    }
    @media (max-width: 450px) {
      padding-inline: 0.5rem 0.75rem;
    }
    &-inside-container {
      display: flex;
	    flex-direction: column;
	    align-items: center;
      &.left {
        transform: translateY(-3rem);
	      background-color: var(--clr-accent-dark);
	      padding: 0.25rem;
	      border-radius: 5px;
	      margin-inline-start: 0.5rem;
        @media (max-width: 450px) {
          margin-inline-start: 0;
          transform: translateY(-4rem);
          scale: (0.85);
        }
      }
      &.center-right-wraper {
        display: flex;
        flex-direction: row;
        width: 100%;
        @media (max-width: 550px) {
          flex-direction: column;
        }
      }
      &.center {
        flex-grow: 1;
	      text-align: center;
	      padding-inline: 1rem;
        @media (max-width: 450px) {
          padding-inline: 0.25rem;
        }
      }
      &.right {
        padding-inline: 0;
        margin-block-start: 1rem;
	      flex-shrink: 0;
        align-self: flex-start;
        @media (max-width: 550px) {
          margin-block-start: 0;
          flex-shrink: 1;
          align-self: center;
        }
      }
    }
    
  }
  &-notes {
    position: relative;
    width: min(75%, 1000px);
    margin-inline: auto;
    padding-inline: 1rem;
    margin-top: 2rem;
    background-color: var(--clr-main-700);
		@media (max-width: 750px) {
            width: 85%;
        }
        // @media (max-width: 650px) {
        //     width: 95%;
        // }
  }
}