.container {
    width: min(100% - 2rem, 60rem);
    margin-inline: auto;

    &-book {
      flex: 1;
      padding: 2rem 2rem 1.5rem 1rem;
      place-content: start;
      grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));

      @media (max-width: 650px) {
        
      }
      @media (max-width: 450px) {
        padding: 2rem 0rem 1.5rem 0rem;
      }

      &-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-1.5rem);
        background-color: var(--clr-accent-dark);
        height: fit-content;
        border-radius: 5px;
        & img {
          border-radius: 3px;
        }
      }

      &-right-bottom {
        display: flex;
	      align-items: center;
	      justify-content: space-between;
      }
      &-notes-review-btns {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
      }
    }
    &-select-rating-top {
      position: relative;
    }
    &-select-rating-bottom {
      position: absolute;
      left: 0;
      right: 0;
      background-color: var(--clr-main-700);
      border-radius: 5px;
    }

  &-found-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 4rem;
    @media (max-width: 650px) {
      padding-inline: 1rem;
    }
    &.inside-container {
      display: flex;
	    flex-direction: column;
	    align-items: center;
      &.left {
        transform: translateY(-3rem);
	      background-color: var(--clr-accent-dark);
	      padding: 0.25rem;
	      border-radius: 5px;
	      margin-inline-start: 0.5rem;
      }
      &.center {
        flex-grow: 1;
	      text-align: center;
	      padding-inline: 1rem;
      }
      &.right {
        padding-inline: 0;
        margin-block-start: 1rem;
	      flex-shrink: 0;
        @media (max-width: 550px) {
          flex-shrink: 1;
        }
      }
    }
  }
}