.display {
    &-hidden {
        display: none;
        &-web {
            @media (min-width: 650px) {
                display: none;
            }
        }
        &-mobile {
            @media (max-width: 650px) {
                display: none;
            }
        }
    }
}