button {
	cursor: pointer;
	pointer-events: all;
	font-size: 0.9em;
	@media (max-width: 450px) {
		font-size: 0.85em;
	}
	
}

button .menu-arrow {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	transform: rotate(180deg) translateY(4px);
	transition: transform 350ms ease-in-out;
}

.btn {
	&.linear-gradient {
	  	display: inline-block;
		position: relative;
		padding: 0.25rem 1rem;
		overflow: hidden;
		border: none;
		border-bottom: 1px solid black;
		border-radius: 5px;
		box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.2),
		-5px 5px 10px -5px rgba(0, 0, 0, 0.2),
		4px 2px 4px -2px rgba(0, 0, 0, 0.05),
		-4px 2px 4px -2px rgba(0, 0, 0, 0.05),
		0px -1px 2px -1px rgba(0, 0, 0, 0.1);
		&.clr-680-700 {
			background-image: linear-gradient(var(--clr-main-680), var(--clr-main-700));
		}
		&.clr-700-800{
			background-image: linear-gradient(var(--clr-main-700), var(--clr-main-800));
			
		}
		&.clr-800-850{
			background-image: linear-gradient(var(--clr-main-800), var(--clr-main-850));
			
		}

		&.in-input-group {
			margin-inline: 1rem;
			border-top: 1px solid var(--clr-main-680);
			&:hover {
				background-image: none;
				background-color: var(--clr-accent-dark);
				border-color: var(--clr-accent-light);
				color: var(--clr-accent-light);
			}
			
		}
		&.in-card-found-book {
			@media (max-width: 550px) {
				background-image: linear-gradient(var(--clr-main-700), var(--clr-main-900));
			}
			@media (max-width: 375px) {
				padding: 0.25rem 0.5rem;
			}
			&:hover {
				background-image: none;
				background-color: var(--clr-accent-dark);
				border-color: var(--clr-accent-light);
				color: var(--clr-accent-light);
			}
		}
		&.book-card {
			max-height: 2rem;
			color: transparent;
			border-top: 1px solid var(--clr-main-700);
			&:hover {
				background-image: none;
				background-color: var(--clr-accent-dark);
				border-color: var(--clr-accent-light);
				
				&::before {
					transform: translateX(-50%) translateY(-200%);
					color: var(--clr-accent-light);
				}
				&::after {
					transform: translateX(-50%) translateY(-50%);
					color: var(--clr-accent-light);
				}
			}
		}
		&.select-rating {
			color: var(--clr-black);
			
			&:hover {
				color: var(--clr-accent-light);
			}
		}

		&.notes::before {
			content: "Notes";
		}
		&.review::before {
			content: "Review";
		}
		&.rating::before {
			content: "Rating"
		}
		&.rating {
			
			&-update {
				white-space: nowrap;
				padding-inline: 1.25rem;
				@media (max-width: 375px) {
					padding-inline: 0.75rem;
				}
			}
			&-0::before {
				content: "0 / 5"
			}
			&-1::before {
				content: "1 / 5"
			}
			&-2::before {
				content: "2 / 5"
			}
			&-3::before {
				content: "3 / 5"
			}
			&-4::before {
				content: "4 / 5"
			}
			&-5::before {
				content: "5 / 5"
			}
		}

		&.book-card {
			&::before {
				position: absolute;
				color: var(--clr-black);
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				transition: transform ease-in-out 250ms;
			}
		}	
		&.add::after,
		&.rating::after {
			content: "Add";
		}
		&.rating-update::after {
			content: "Update";
		}
		&.read::after {
			content: "Read";
		}
		&.book-card {
			&::after {
				position: absolute;
				color: var(--clr-black);
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(100%);
				transition: transform ease-in-out 250ms;
			}
		}
		&.notes-reviews {
			@media (max-width: 600px) {
				white-space: nowrap;
			}
		}
		&.back-to-shelf {
			@media (max-width: 600px) {
				position: absolute;
				top: 0;
			}
		}
	}
	&.read-status-dropdown {
		margin: auto 0;
		padding: 0.25rem 0;
		width: 100%;
		border: solid 1px var(--clr-black);
		border-left: none;
		border-right: none;
		color: var(--clr-main-300);
		&.option {
			display: block;
			background-color: var(--clr-accent-dark);
			color: var(--clr-accent-light);
			&:hover {
				color: var(--clr-accent-dark);
				background: var(--clr-accent-light);
				border-left: 1px solid black;
				border-right: 1px solid black;
			}
		}
	}
	&.bg-dark-main-900-gradient {
		background: linear-gradient(
		to right,
		rgba(var(--clr-rgb-accent-dark), 1) 0%,
		rgba(var(--clr-rgb-accent-dark), 1) 5%,
		rgba(var(--clr-rgb-main-900), 1) 35%,
		rgba(var(--clr-rgb-main-900), 1) 65%,
		rgba(var(--clr-rgb-accent-dark), 1) 95%,
		rgba(var(--clr-rgb-accent-dark), 1) 100%
		);
		&.open {
			background: var(--clr-accent-dark);
			color: var(--clr-accent-light)
		}
		&.hidden {
			pointer-events: none;
            opacity: 0;
		}
		&:hover {
			color: var(--clr-accent-light);
			background: var(--clr-accent-dark);
		}
	}

	&.aside-toggle {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.6rem 0.75rem;
		width: 150px;
		border: none;
		border-bottom: solid 1px var(--clr-black);
		border-radius: 10px;
		background-color: var(--clr-main-800);
		
		&.last-toggle {
			padding-block: 0.6rem;
			border-bottom: solid 1px var(--clr-black);
			&.open {
				padding-block-end: 1rem;
				border-bottom: none;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
		&.open {
			margin-block-end: -8px;
		}
		&.active {
			outline: 1px solid var(--clr-accent-dark);
			border-color: var(--clr-accent-dark);
			background-color: var(--clr-main-850);
				color: var(--clr-white);
			&:hover {
				outline: none;
				border-color: var(--clr-black);
			}
		}

		&.open span {
			transform: rotate(0deg) translateY(4px);
		}
		&.sort-option {
			border-top-right-radius: 0px;
			border-top-left-radius: 0px;
			padding-block-start: 1rem;
			background-color: var(--clr-main-680);
			&.active {
				outline: none;
				border-color: var(--clr-black);
				background-color: var(--clr-main-850);
				color: var(--clr-white);
				&:hover {
					background-color: var(--clr-accent-dark);
					color: var(--clr-accent-light);
				}
			}
			&.open {
				background-color: var(--clr-accent-dark);
				color: var(--clr-accent-light);
				border-color: var(--clr-black);
				&:hover {
					background-color: var(--clr-accent-light);
					color: var(--clr-accent-dark);
				}
			}
			&.sub {
				justify-content: center;
				background-color: var(--clr-accent-dark);
				color: var(--clr-accent-light);
				border-color: var(--clr-black);
				&:hover {
					background-color: var(--clr-accent-light);
					color: var(--clr-accent-dark);
				}
			}
		}
		&:hover {
			background-color: var(--clr-accent-dark);
			color: var(--clr-accent-light);
		}
	}

	&.open-mobile-aside-menu {
		display: none;
		@media (max-width: 650px) {
			display: inline-block;
			position: absolute;
			right: 1.5rem;
			top: -2rem;
			align-items: center;
			padding: 0.6rem 0.75rem;
			width: 150px;
			border: none;
			border-bottom: solid 1px var(--clr-black);
			border-radius: 10px;
			background-color: var(--clr-main-700);
			transition: all ease-in-out 250ms;
		&.open {
			opacity: 0;
			pointer-events: none;
		}
		&.closed {
			opacity: 1;
			
		}
		}
	}

	&.modal-arrows {
		display: inline-block;
		position: relative;
		padding: 0.25rem 1rem;
		border: none;
		background-color: transparent;
		font-size: 1.25rem;
		
		&:hover {
			color: var(--clr-accent-light);
		}
	}
	&.close-menu-x {
		position: absolute;
		top: 1rem;
		right: 1rem;
		width: 25px;
		height: 25px;
		background-color: transparent;
		border: none;
		overflow: hidden;

		&.on-notes {
			top: -2rem;
			@media (max-width: 700px) {
				top: -3.5rem;
				right: 0.5rem;
			}
		}

		& .bar {
			position: absolute;
			left: 0;
			top: 11px;
			background-color: var(--clr-main-300);
			width: 95%;
			height: 3px;
			border-radius: 50px;
			&.top {
				transform: rotate(45deg);
				
				&.closed {
					transition: transform ease-in-out 150ms;
					transform: rotate(0deg);
				}
				&.open {
					transition: transform ease-in-out 350ms;
				}
			}
			&.bottom {
				transform: rotate(135deg);
				
				&.closed {
					transition: transform ease-in-out 150ms;
					transform: rotate(180deg);
				}
				&.open {
					transition: transform ease-in-out 350ms;
				}

			}
		}

		&.on-modal,
		&.on-notes {
			& .bar {
				background-color: var(--clr-accent-dark);
			}
			&:hover .bar{
				background-color: var(--clr-accent-light);
			}
		}
	}

	&.settings-menu-toggle {
		position: relative;
		display: flex;
		flex-direction: column;
		padding-block: 0.5rem;
		background-color: transparent;
		border: none;
		overflow: hidden;
		z-index: 101;
		& span {
			display: block;
			height: 4px;
			width: 50px;
			border-radius: 100vh;
			transform: translate(0);
			background-color: black;
		}
		& span:nth-child(1) {
			width: 75%;
			align-self: flex-start;
			transition: all 250ms ease-in-out;
			
		}
		& span:nth-child(2) {
			margin-block: 0.5rem;
			transition: all 250ms ease-in-out 150ms;
		}
		& span:nth-child(3) {
			width: 75%;
			align-self: flex-end;
			transition: all 250ms ease-in-out 300ms;
		}
		& span:nth-child(4),
		span:nth-child(5) {
			position: absolute;
			width: 75%;
			top: 50%;
			left: 0.5rem;
			
			transform: translatX(-50%);
		}
		& span:nth-child(4) {
			transition: transform 250ms ease-in-out ;
			transform: rotate(0) scaleX(0);

		}
		& span:nth-child(5) {
			transition: transform 250ms ease-in-out ;
			transform: rotate(0) scaleX(0);
		}
		

		&.open {
			& span:nth-child(1) {
				width: 75%;
				align-self: flex-start;
				transform: translate(-100%);
			}
			& span:nth-child(2) {
				margin-block: 0.5rem;
				transform: translate(125%);
			}
			& span:nth-child(3) {
				width: 75%;
				align-self: flex-end;
				transform: translate(-135%);
			}
			& span:nth-child(4) {
				background-color: var(--clr-main-700);
				transition: transform 350ms ease-in-out 300ms;
				transform: rotate(-45deg) scaleX(1);
	
			}
			& span:nth-child(5) {
				background-color: var(--clr-main-700);
				transition: transform 350ms ease-in-out 300ms;
				transform: rotate(45deg) scaleX(1);
			}
			
		}
	}

	&.nav {
		position: relative;
		padding-block: 1.125rem;
		margin-inline: auto;
		background-color: transparent;
		border: none;
		border-bottom: 2px solid black;
		background-color: var(--clr-main-800);
		border-radius: 10px;
		width: 90%;
		isolation: isolate;
		overflow: hidden;

		&:hover {
			
			&:before  {
				color: black;
				transform: translateX(0);
				transform-origin: right;
			}

			&:after {
				transform: translateX(0);
				transform-origin: right;
			}
		}

		&:before {
			content: "";
			position: absolute;
			background-color: var(--clr-accent-light);
			inset: 0;
			transition: transform 450ms ease-in-out;
			transform-origin: right;
			transform: translateX(100%);
			z-index: -1;
		}
		&:after {
			content: "→";
			position: absolute;
			display: flex;
			align-items: center;
			font-size: 1.25rem;
			top:0;
			bottom: 0;
			right: 2px;
			transition: transform 250ms ease-in-out;
			transform-origin: right;
			transform: translateX(calc(100% + 2px));
		}
		&.in-progress {
			&:hover {
				&::before {
					content: "Future Release";
					display: flex;
					align-items: center;
					justify-content: center;
					z-index: 0;
				}
			}
		}
	}

	&.toggle-form {
		position: relative;
		text-decoration: underline;
		font-size: 0.9rem;
		padding: 0.25rem;
		color: var(--clr-main-300);
		border: none;
		background-color: transparent;
		
		&:hover {
			color: var(--clr-accent-light);
		}
		&.landing-toggle {
			display: none;
			@media (max-width: 800px) {
				position: absolute;
				top: 1rem;
				right:1rem;
				display: block;
				z-index: 2;
				transition: transform 350ms ease-in-out;
				transform: translateY(0);
				&.open {
					transform: translateY(calc(100vh - 3rem));
				}
			}
		}
	}
}