button {
	cursor: pointer;
	font-family: "Times New Roman", Times, serif;
	font-weight: 600;
	font-size: 1rem;
}

button span {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	transform: rotate(180deg) translateY(4px);
	transition: transform 350ms ease-in-out;
}

.btn {
	&.book-right {
	  	display: inline-block;
		position: relative;
		padding: 0.25rem 1rem;
	  	background: transparent;
	  	color: transparent;
		overflow: hidden;
		border: none;
		border-bottom: 1px solid black;
		border-top: 1px solid var(--clr-main-700);
		border-radius: 5px;
		background-image: linear-gradient(var(--clr-main-700), var(--clr-main-800));
		font-size: 1.1rem;

		&.select-rating {
			color: var(--clr-black);

			&:hover {
				color: var(--clr-accent-light);
			}
		}

		&:hover {
			background-image: none;
			background-color: var(--clr-accent-dark);
			border-color: var(--clr-accent-light);
			&::before {
				transform: translateX(-50%) translateY(-200%);
				color: var(--clr-accent-light);
			}
			&::after {
				transform: translateX(-50%) translateY(-50%);
				color: var(--clr-accent-light);
			}
		}

		&.notes::before {
			content: "Notes";
		}
		&.review::before {
			content: "Review";
		}
		&.rating::before {
			content: "Rating"
		}
		&.rating {
			&-0::before {
				content: "0 / 5"
			}
			&-1::before {
				content: "1 / 5"
			}
			&-2::before {
				content: "2 / 5"
			}
			&-3::before {
				content: "3 / 5"
			}
			&-4::before {
				content: "4 / 5"
			}
			&-5::before {
				content: "5 / 5"
			}
		}
		&::before {
			position: absolute;
			color: var(--clr-black);
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			transition: transform ease-in-out 250ms;
		}
		&.add::after,
		&.rating::after {
			content: "Add";
		}
		&.rating-update::after {
			content: "Update";
		}
		&.read::after {
			content: "Read";
		}
		&::after {
			position: absolute;
			color: var(--clr-black);
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(100%);
			transition: transform ease-in-out 250ms;
		}
	}
	&.read-status-dropdown {
		margin: auto 0;
		padding: 0.25rem 0;
		width: 100%;
		border: solid 1px var(--clr-black);
		border-left: none;
		border-right: none;
		color: var(--clr-main-300);
		&.option {
			display: block;
			background-color: var(--clr-accent-dark);
			color: var(--clr-accent-light);
			&:hover {
				color: var(--clr-accent-dark);
				background: var(--clr-accent-light);
				border-left: 1px solid black;
				border-right: 1px solid black;
			}
		}
	}
	&.bg-dark-main-900-gradient {
		background: linear-gradient(
		to right,
		rgba(var(--clr-rgb-accent-dark), 1) 0%,
		rgba(var(--clr-rgb-accent-dark), 1) 5%,
		rgba(var(--clr-rgb-main-900), 1) 35%,
		rgba(var(--clr-rgb-main-900), 1) 65%,
		rgba(var(--clr-rgb-accent-dark), 1) 95%,
		rgba(var(--clr-rgb-accent-dark), 1) 100%
		);
		&.open {
			background: var(--clr-accent-dark);
			color: var(--clr-accent-light)
		}
		&.hidden {
			pointer-events: none;
            opacity: 0;
		}
		&:hover {
			color: var(--clr-accent-light);
			background: var(--clr-accent-dark);
		}
	}

	&.aside-toggle {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem 1rem 1.5rem 1rem;
		width: 150px;
		border: none;
		border-top: solid 1px var(--clr-black);
		border-radius: 10px;
		background-color: var(--clr-main-800);
		z-index: 3;
		&.last-toggle {
			padding: 1rem;
		}

		&:not(.last-toggle) {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		&.open {
			margin-block-end: -8px;
		}
		&.active {
			background-color: var(--clr-main-900);
				color: var(--clr-white);
		}

		&.open span {
			transform: rotate(0deg) translateY(4px);
		}
		&.sort-option {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			padding-bottom: 1rem;
			background-color: var(--clr-main-680);
			border-color: var(--clr-main-900);
			&.active {
				background-color: var(--clr-main-900);
				color: var(--clr-white);
				&:hover {
					background-color: var(--clr-accent-dark);
					color: var(--clr-accent-light);
				}
			}
			&.open {
				background-color: var(--clr-accent-dark);
				color: var(--clr-accent-light);
				border-color: var(--clr-black);
				&:hover {
					background-color: var(--clr-accent-light);
					color: var(--clr-accent-dark);
				}
			}
			&.sub {
				justify-content: center;
				background-color: var(--clr-accent-dark);
				color: var(--clr-accent-light);
				border-color: var(--clr-black);
				&:hover {
					background-color: var(--clr-accent-light);
					color: var(--clr-accent-dark);
				}
			}
		}
		&:hover {
			background-color: var(--clr-accent-dark);
			color: var(--clr-accent-light);
		}
	}
		


	&.find-book {
		align-self: center;
		padding: 0.125rem 1rem;
		border: none;
		border-radius: 5px;
		border-bottom: 2px solid var(--clr-black);
		border-top: 2px solid var(--clr-black);
		background-color: var(--clr-main-300);
		&:hover {
			background-color: var(--clr-accent-dark);
			color: var(--clr-accent-light);
		}
	}
}