.card {
    &-book {
	position: relative;
    display: flex;
	padding: 0rem 0.5rem 0rem 1rem;
    margin-inline: 1rem;
	margin-block-end: 3rem;
	background-color: var(--clr-main-700);
    border-radius: 150px 5px 5px 200px;
    @media (max-width: 450px) {
        padding: 0rem;
    }

    @media (max-width: 325px) {
        margin-inline: 0.5rem;
    }
        &-right {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            padding-inline: 0.25rem; 
            @media (max-width: 450px) {
                padding-inline: 0rem 0.25rem;
            }
            
        }
        //------animation in-out
        &-enter {
            opacity: 0.1;
            transform-origin: top right;
            transform: scale(0.45);

            &-active {
                opacity: 1;
                transform-origin: top right;
                transform: scale(1);
                transition: opacity 200ms ease-in-out 200ms, transform 400ms ease-in-out;
            }
        }
        &-exit {
            opacity: 1;
            transform-origin: top right;
            transform: scale(1);

            &-active {
                opacity: 0.1;
                transform-origin: top right;
                transform: scale(.50);
                transition: opacity 400ms ease-in-out, transform 500ms ease-in-out;
            }
        }
    }
    &-control-menu {
        display: flex;
        flex-direction: column;
        width: 150px;
        margin-block-end: 2rem;
        border-radius: 10px;
        isolation: isolate;

        & .input-btn-group {
            display: flex;
            flex-direction: column;
        }
    }
    &-sort-option {
        position: relative;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: var(--clr-main-680);
        margin-block-end: -8px;
        &.last-option {
            border-radius: 10px;
        }
        &.sub {
            margin-block-end: 0;
            margin-block-start: -8px;
            background-color: var(--clr-accent-dark);
        }
        &.bg-main-900 {
            @media (max-width: 650px) {
                background-color: transparent;
            }
        }
    }
    &-found-book {
        border-radius: 150px 5px 5px 200px;
        padding: 1rem;
        margin-block-start: 4rem;
        display: flex;
        align-items: flex-start;
        flex: 1;
        width: 100%;
        background: linear-gradient(
            rgba(var(--clr-rgb-main-700), 1) 0%,
            rgba(var(--clr-rgb-main-700), 1) 55%,
            rgba(var(--clr-rgb-main-900), 1) 90%,
            rgba(var(--clr-rgb-main-900), 1) 100%
	    );
        @media (max-width: 650px) {
          // width: calc(100% + 6rem);
        }
    }
    &-note {
        display: flex;
        margin-inline: 1rem;
        margin-top: 1.5rem;
        padding: 1rem 0.5rem 1rem 1rem;
        border-radius: 5px;
        border-bottom-left-radius: 25px;
        color: var(--clr-main-300);
        background-color: var(--clr-accent-dark);

        @media (max-width: 550px) {
            flex-direction: column;
            padding-inline-end: 1rem;
            padding-block-end: 0.5rem;
            margin-inline: 0;
        }

        &-btn-container {
            margin-inline-start: 0.5rem;
            & button:nth-child(2) {
                margin-inline-start: 0.5rem;
            }
        @media (max-width: 850px) {
            display: flex;
            flex-direction: column;
            & button:nth-child(2) {
                margin-inline-start: 0;
                margin-block-start: 0.5rem;
            }
        }

        @media (max-width: 550px) {
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-end;
            & button:nth-child(2) {
                margin-inline-start: 0.5rem;
            }
        }

        }

        & textarea {
            flex-grow: 1;
	        max-width: 80%;
            border: none;
            border-radius: 5px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 25px;
            padding: 0.5rem 0.5rem 0.5rem 0.75rem;
            font-size: 1rem;
            background-color: var(--clr-main-300);
            color: var(--clr-black);
            @media (max-width: 550px) {
                
                max-width: 100%;
            }
        }

        & p {
            flex-grow: 1;
            padding-top: 0.25rem;
            padding-bottom: 0.125rem;
            @media (max-width: 550px){
                margin-bottom: 0.5rem;
            }
        }
    }
}