.dropdown {
    &.li {  
        &:nth-child(2) {
            transform: translateY(-1px);
        }
        &:nth-child(3) {
            transform: translateY(-2px);
        }
    }
    &-read-status {
        width: 100%;
        &.hidden {
            opacity: 0;
        }
        &.open {
            padding-inline: 0.5rem;
            position: absolute;
            top: calc(100% - 2.4rem);
        }
    }
}