.input {
    &.controls {
        border: none;
	    border-bottom: 2px solid var(--clr-accent-dark);
	    background-color: var(--clr-main-300);
        max-width: 100%;
        border-radius: 5px;
        padding: 0.25rem 0 0 0.25rem;
        font-size: 0.9rem;
    }
    &-group {
        position: relative;
        margin-bottom: -8px;
        background-color: var(--clr-main-680);
        border-bottom: 1px solid var(--clr-main-900);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-block-start: 1.25rem;
        & .title {
            display: inline-block;
            margin: 0.25rem 0 .5rem 0;
            font-size: 0.8rem;
        }
    }
}