dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    &[id="find-book"] {
        background: var(--clr-main-900);
	    border: none;
	    border-radius: 10px;
	    height: 90%;
        width: min(75%, 750px);
        @media (max-width: 750px) {
            width: 85%;
        }
        @media (max-width: 650px) {
            width: 95%;
        }
    }
    &[open=""] {
        display: flex;
        flex-direction: column;
    }
    &::backdrop {
        background: rgba(0, 0, 0, 0.75);
    }
}